.cover__link {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 54% 1fr;
    row-gap: 16px;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    z-index: 2;
}

@media screen and (min-width: 768px) {

    .cover__link {
        row-gap: 32px;
    }

}