.photo-grid {
    padding: 64px 0 0 0;
    display: -ms-grid;
    display: grid;
    gap: 12px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media screen and (min-width: 768px) {

    .photo-grid {
        padding: 88px 0 0 0;
        -ms-grid-columns: 352px 16px 352px;
        grid-template-columns: repeat(2, 352px);
        gap: 16px;
    }

}

@media screen and (min-width: 1024px) {

    .photo-grid {
        padding: 92px 0 0 0;
        -ms-grid-columns: 300px 14px 300px 14px 300px;
        grid-template-columns: repeat(3, 300px);
        gap: 14px;
    }

}

@media screen and (min-width: 1280px) {

    .photo-grid {
        margin: auto;
        padding: 92px 0 0 0;
        -ms-grid-columns: 284px 16px 284px 16px 284px 16px 284px;
        grid-template-columns: repeat(4, 284px);
        gap: 16px;
    }

}