.photo-grid {
    padding: 64px 0 0 0;
    display: grid;
    gap: 12px;
    justify-content: center;
}

@media screen and (min-width: 768px) {

    .photo-grid {
        padding: 88px 0 0 0;
        grid-template-columns: repeat(2, 352px);
        gap: 16px;
    }

}

@media screen and (min-width: 1024px) {

    .photo-grid {
        padding: 92px 0 0 0;
        grid-template-columns: repeat(3, 300px);
        gap: 14px;
    }

}

@media screen and (min-width: 1280px) {

    .photo-grid {
        margin: auto;
        padding: 92px 0 0 0;
        grid-template-columns: repeat(4, 284px);
        gap: 16px;
    }

}