.places {
    min-width: 320px;
    max-width: 767px;
    padding: 64px 0 0 0;
    display: grid;
    justify-content: center;
    grid-template-rows: 5;
    gap: 50px;
}

@media screen and (min-width: 768px) {

    .places {
        min-width: 768px;
        max-width: 1023px;
        padding: 88px 0 0 0;
        row-gap: 73px;
    }

}

@media screen and (min-width: 1024px) {

    .places {
        min-width: 1024px;
        max-width: 1279px;
        padding: 92px 0 0 0;
        row-gap: 80px;
    }

}

@media screen and (min-width: 1280px) {

    .places {
        min-width: 1280px;
        margin: auto;
    }

}