.places {
    padding: 64px 0 66px 0;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat (5, 1fr);
    gap: 50px;
}

@media screen and (min-width: 768px) {

    .places {
        padding: 88px 0 90px 0;
        row-gap: 73px;
    }

}

@media screen and (min-width: 1024px) {

    .places {
        padding: 92px 0 92px 0;
        row-gap: 80px;
    }

}

@media screen and (min-width: 1280px) {

    .places {
        margin: auto;
    }

}