.intro__info-list {
    margin: 34px 16px 0 16px;
    padding: 0;
    list-style: none;
    color: white;
}

@media screen and (min-width: 768px) {

    .intro__info-list {
        margin: 33px 24px 0 24px;
    }

}

@media screen and (min-width: 1024px) {

    .intro__info-list {
        width: 690px;
        margin: 33px auto 0 48px;
    }

}