.cover__subtitle {
    margin: 16px auto 0 auto;
    padding: 0;
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Inter-Regular';
    text-align: center;
    position: absolute;
    top: 119px; 
}

@media screen and (min-width: 768px) {

    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        top: 299px;
    }

}

@media screen and (min-width: 1024px) {

    .cover__subtitle {

        top: 379px;
    }

}

@media screen and (min-width: 1280px) {

    .cover__subtitle {
        top: 429px;
    }

}