.cover__subtitle {
    margin: 0;
    padding: 0;
    width: 288px;
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-weight: 200;
    position: absolute;
    left: 16px;
    top: 119px;
    text-align: center;
}

@media screen and (min-width: 768px) {

    .cover__subtitle{
        width: 360px;
        font-size: 18px;
        line-height: 22px;
        left: 204px;
        top: 299px;
    }

}

@media screen and (min-width: 1024px) {

    .cover__subtitle {
        left: 332px;
        top: 379px;
    }

}

@media screen and (min-width: 1280px) {

    .cover__subtitle {
        left: 412px;
        top: 429px;
    }

}