.cover__subtitle {
    margin: 16px 0 0 0;
    padding: 0;
    color: white;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    justify-self: center;
    z-index: 2;
}

@media screen and (min-width: 768px) {

    .cover__subtitle {
        width: 360px;
        font-size: 18px;
        line-height: 22px;
        margin-top: 32px;
    }

}