.header__logo {
    width: 142px;
    height: 42px;
    margin: 16px 0 0 16px;
}

@media screen and (min-width: 768px) {

    .header__logo {
        width: 176px;
        height: 52px;
        margin: 28px 0 0 0;
    }

}