.header {
    padding: 0 0 48px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 1290px) {

    .header {
        margin: auto;
        padding-bottom: 64px;
    }

}