.footer__author {
    margin: 48px 0 0 0;
    color: white;
    font-size: 14px;
    line-height: 14px;
}

@media screen and (min-width: 768px) {

    .footer__author {
        margin: 0;
        justify-self: flex-end;
        font-size: 14px;
        line-height: 16px;
    }

}