.header__link {
    font-size: 18px;
    line-height: 20px;
    color: white;
    margin-left: 18px;
    text-decoration: none;
    transition: opacity .4s linear;
}

.header__link:hover {
    opacity: .8;
    }

@media screen and (min-width: 768px) {

    .header__link {
        font-size: 24px;
        line-height: 28px;
    }

}