.footer__link {
    text-decoration: none;
    color: white;
    font-size: 24px;
    line-height: 24px;
    transition: opacity .4s linear;
}

.footer__link:hover {
    opacity: .8;
    }

@media screen and (min-width: 768px) {

    .footer__link {
        font-size: 16px;
        line-height: 18px;
    }

}