.places__paragraph {
    font-size: 16px;
    font-family: 'Inter-Regular';
    line-height: 163%;
    margin: 0 16px 25px 16px;
}

.places__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {

    .places__paragraph {
        margin: 0 0 25px 0;
    }

}

@media screen and (min-width: 1024px) {

    .places__paragraph {
        font-size: 18px;
        margin: 0 0 27px 0;
    }

}