.lead__image {
    margin-top: 40px;
    max-width: 100%;
    height: auto;
    display: block;
}

@media screen and (min-width: 768px) {

    .lead__image {
        margin-top: 56px;
    }

}

@media screen and (min-width: 1280px) {

    .lead__image {
        margin-top: 64px;
    }

}