.intro__text {
    margin: 40px 16px 0 16px;
    color: white;
    font-size: 16px;
    line-height: 163%;
}

@media screen and (min-width: 768px) {

    .intro__text{
        width: 720px;
        margin: 40px 24px 0 24px;
    }

}

@media screen and (min-width: 1024px) {

    .intro__text {
        width: 690px;
        margin: 40px auto 0 48px;
    }

}