.intro__info-list {
    margin: 34px 0 0 16px;
    padding: 0;
    list-style: none;
    color: white;
}

@media screen and (min-width: 768px) {

    .intro__info-list {
        margin: 33px 24px 0 24px;
    }
    
}

@media screen and (min-width: 1024px) {

    .intro__info-list {
        margin: 33px 0 0 0;
    }
    
}