.cover {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 320px;
    height: 200px;
    background-image: url(../../images/cover__background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media screen and (min-width: 768px) {

    .cover {
        width: 768px;
        height: 480px;
    }

}

@media screen and (min-width: 1024px) {

    .cover {
        width: 1024px;
        height: 640px;
    }

}

@media screen and (min-width: 1280px) {

    .cover {
        width: 1280px;
        height: 720px;
    }

}