.cover {
    display: grid;
    align-content: start;
    justify-content: center;
    margin: auto;
    width: 320px;
    height: 200px;
    background-image: url(../../images/cover__background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.cover::after {
    width: 100%;
    height: 100%;
    content: "";
    background: #2a2c2f;
    position: absolute;
    z-index: 1;
    opacity: .3;
    transition: opacity .4s linear;
}

.cover:hover::after,
.cover:hover::before {
    opacity: .8;
    cursor: pointer;
}

@media screen and (min-width: 768px) {

    .cover {
        width: 768px;
        height: 480px;
    }

}

@media screen and (min-width: 1024px) {

    .cover {
        width: 1024px;
        height: 640px;
    }

}

@media screen and (min-width: 1280px) {

    .cover {
        width: 1280px;
        height: 720px;
    }

}