.cover {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    min-height: 200px;
    min-width: 320px;
    max-width: 1184px;
    background-image: url(../../images/cover__background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.cover::after {
    width: 100%;
    height: 100%;
    content: "";
    background: #2a2c2f;
    position: absolute;
    z-index: 1;
    opacity: .3;
    -webkit-transition: opacity .4s linear;
    -o-transition: opacity .4s linear;
    transition: opacity .4s linear;
}

.cover:hover::after,
.cover:hover::before {
    opacity: .8;
    cursor: pointer;
}

@media screen and (min-width: 768px) {

    .cover {
        min-height: 480px;
    }

}

@media screen and (min-width: 1024px) {

    .cover {
        min-height: 640px;
    }

}

@media screen and (min-width: 1280px) {

    .cover {
        min-height: 740px;
    }

}