.cover {
    display: grid;
    justify-content: center;
    min-width: 320px;
    max-width: 767px;
}

@media screen and (min-width: 768px) {

    .cover {
        min-width: 768px;
        max-width: 1023px;
    }

}

@media screen and (min-width: 1024px) {

    .cover {
        min-width: 1024px;
        max-width: 1279px;
    }

}

@media screen and (min-width: 1280px) {

    .cover {
        min-width: 1280px;
        margin: auto;
    }

}