.lead__image_caption {
    margin: 8px 0 0 16px;
    color: white;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
}

@media screen and (min-width: 768px) {

    .lead__image__caption {
        margin: 8px 0 0 24px;
    }

}

@media screen and (min-width: 1024px) {

    .lead__image__caption {
        margin: 8px 0 0 0;
    }

}