.place__link {
    color: white;
    text-decoration: underline;
    font-size: 18px;
    line-height: 22px;
    -webkit-transition: opacity .4s linear;
    -o-transition: opacity .4s linear;
    transition: opacity .4s linear;
}

.place__link:hover {
    opacity: .8;
}