.place__link {
    color: white;
    font-family: 'Inter-Regular';
    text-decoration: underline;
    font-size: 18px;
    line-height: 22px;
    transition: opacity .4s linear;
}

.place__link:hover {
    opacity: .8;
}