.cover__background {
    margin: auto;
    width: 320px;
    height: 200px;
    background-size: cover;
    background-color: #2a2c2f;
    opacity: .3;
    transition: opacity .4s linear;
    position: relative;
}

.cover__background:hover {
    opacity: .8;
}

@media screen and (min-width: 768px) {

    .cover__background {
        width: 768px;
        height: 480px;
    }

}

@media screen and (min-width: 1024px) {

    .cover__background {
        width: 1024px;
        height: 640px;
    }

}

@media screen and (min-width: 1280px) {

    .cover__background {
        width: 1280px;
        height: 720px;
    }

}