.cover__background {
    width: 320px;
    background-color: black;
    opacity: 0.7;
    transition: opacity .4s linear;
}

@media screen and (min-width: 768px) {

    .cover__background {
        width: 768px;
    }

}

@media screen and (min-width: 1024px) {

    .cover__background {
        width: 1024px;
    }

    .cover__background:hover {
        opacity: .2;
    }

}

@media screen and (min-width: 1280px) {

    .cover__background {
        width: 1184px;
    }

}