.caption {
    margin: 8px 0 0 16px;
    font-family: 'Inter-Regular';
    color: white;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
}

@media screen and (min-width: 768px) {

    .caption {
        margin: 8px 0 0 24px;
    }

}

@media screen and (min-width: 1024px) {

    .caption {
        margin: 8px 0 0 0;
    }

}