.cover__title {
    margin: 0;
    padding: 0;
    width: 288px;
    color: white;
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
}

@media screen and (min-width: 768px) {

    .cover__title {
        width: 560px;
        
        font-size: 72px;
        line-height: 76px;
    }

}

@media screen and (min-width: 1024px) {

    .cover__title {
        
    }

}

@media screen and (min-width: 1280px) {

    .cover__title {
        
    }

}