.cover__title {
    margin: 33px auto 0 auto;
    padding: 0;
    color: white;
    font-size: 32px;
    line-height: 35px;
    font-style: bolder;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 33px;
}

@media screen and (min-width: 768px) {

    .cover__title{
        font-size: 72px;
        line-height: 76px;
        top: 115px;
    }

}

@media screen and (min-width: 1024px) {

    .cover__title {
        top: 195px;
    }

}

@media screen and (min-width: 1280px) {

    .cover__title {
        top: 245px;
    }

}