.footer__list {
    width: 304px;
    margin: 64px auto 24px 16px;
    color: white;
    list-style: none;
    padding: 0;
    
}

@media screen and (min-width: 768px) {

    .footer__list {
        width: 720px;
        margin: 88px 24px 24px 24px;
        display: flex;
    }

}

@media screen and (min-width: 1024px) {

    .footer__list {
        width: 928px;
        margin: 92px 48px 24px 48px;
        display: flex;
    }

}

@media screen and (min-width: 1280px) {

    .footer__list {
        width: 1184px;
        margin: 92px 48px 24px 48px;
        display: flex;
    }

}