.place {
    width: 320px;
    display: -ms-grid;
    display: grid;
    color: white;
}

@media screen and (min-width: 768px) {

    .place {
        width: 720px;
        -ms-grid-columns: 340px 28px 352px;
        grid-template-columns: 340px 352px;
        -webkit-column-gap: 28px;
           -moz-column-gap: 28px;
                column-gap: 28px;
    }

}

@media screen and (min-width: 1024px) {

    .place {
        width: 928px;
        -ms-grid-columns: 440px 32px 456px;
        grid-template-columns: 440px 456px;
        -webkit-column-gap: 32px;
           -moz-column-gap: 32px;
                column-gap: 32px;
    }

}

@media screen and (min-width: 1280px) {

    .place {
        width: 984px;
        -ms-grid-columns: 460px 40px 484px;
        grid-template-columns: 460px 484px;
        -webkit-column-gap: 40px;
           -moz-column-gap: 40px;
                column-gap: 40px;
    }

}