.footer {
    display: -ms-grid;
    display: grid;
    max-width: 1184px;
    padding: 64px 0 24px 16px;
}

@media screen and (min-width: 768px) {

    .footer {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        padding: 88px 24px 24px 24px;
        margin: auto;
    }

}

@media screen and (min-width: 1024px) {

    .footer {
        padding: 92px 48px 24px 48px;
    }

}