.photo-grid__image {
    width: 288px;
    object-fit: cover;
}

@media screen and (min-width: 768px) {

    .photo-grid__image {
        width: 352px;
    }
}

@media screen and (min-width: 1024px) {

    .photo-grid__image {
        width: 300px;
    }
}

@media screen and (min-width: 1024px) {

    .photo-grid__image {
        width: 284px;
    }
}