.cover__subtitle {
    margin: 0;
    padding: 0;
    width: 288px;
    color: white;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
}

@media screen and (min-width: 768px) {

    .cover__subtitle {
        width: 360px;
        font-size: 18px;
        line-height: 22px;
        
    }

}