.place__website {
    list-style: none;
    padding: 0;
    margin: 32px 0 0 16px;
}

@media screen and (min-width: 768px) {

    .place__website {
        margin: 0;
        align-self: flex-end;
    }

}