.intro__title {
    font-weight: 900;
    color: white;
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 0 16px;
}

@media screen and (min-width: 768px) {

    .intro__title {
        margin: 0 0 0 24px;
    }
    
}


@media screen and (min-width: 1024px) {

    .intro__title {
        margin: 0;
    }

}