.intro__title {
    font-family: 'Inter-Black';
    color: white;
    font-size: 32px;
    line-height: 35px;
    margin: 64px 16px 0 16px;
}

@media screen and (min-width: 768px) {

    .intro__title {
        width: 720px;
        font-size: 54px;
        line-height: 58px;
        margin: 88px 24px 0 24px;
    }
}

@media screen and (min-width: 1024px) {

    .intro__title {
        margin: 92px auto 0 48px;
    }
    
}